body{
	margin-top:40px; 
}

/*Button_Style*/
.custom{
	width: 90px !important; 
}
.custom1 {
    padding: 2px 0px;
    width: 60px !important;
}

/*Table_Style*/
.table_style { 
	margin-top: 0px;
}
.table>thead>tr>th {
    border-top: 0;
    background-color: green;
    color: white;
} 

.col-sm-4{
	padding-left: 0px; 
}


.hidden{display:none;}